<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    {{message}}
</div>
<div id="app-2">
    <span v-bind:title="message">
        내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title 을 볼 수 있습니다!
    </span>
</div>
<div id="app-3">
    <p v-if="seen">이제 나를 볼 수 있었요</p>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">reverseMessage</button>
</div>
<div id="app-6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app-7">
    <ol>
        <!--
            이제 각 todo-item 에 todo 객체를 제공합니다.
            화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다.
            또한 각 구성 요소에 "키" 를 제공해야 합니다.
        -->
        <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id">
        </todo-item>

    </ol>
</div>
<script>
  //vue hello world
  var app = new Vue({
    el:'#app',
    data:{
      message:'hello Vue.js!'
    }
  });
  // vue directive v-bind
  var app2 = new Vue({
    el:'#app-2',
    data:{
      message:'this page was loaded by ' + new Date() + '/'
    }
  });
  // vue directive v-if
  var app3 = new Vue({
    el:'#app-3',
    data:{
      seen:true
    }
  });
  // vue directive v-for
  var app4 = new Vue({
    el:'#app-4',
    data:{
      todos:[
        { text:'Leaning JavaScript' },
        { text:'Leaning Vue.js' },
        { text:'make something awesome' }
      ]
    }
  });
  // vue directive v-on
  var app5 = new Vue({
    el:'#app-5',
    data:{
      message:'hello Vue.js!'
    },
    methods:{
      reverseMessage:function(){
        this.message = this.message.split('').reverse().join('')
      }
    }
  });
  // vue directive v-model
  var app6 = new Vue({
    el:'#app-6',
    data:{
      message:'hello Vue.js'
    }
  });
  // vue component
  // todo-item 이름을 가진 컴포넌트를 정의
  Vue.component('todo-item', {
    props:['todo'],
    template:'<li>{{todo.text}}</li>'
  });
  var app7 = new Vue({
    el:'#app-7',
    data:{
      groceryList:[
        {id:0, text:'Vegetables'},
        {id:1, text:'Cheese'},
        {id:2, text:'Whatever else humans are supposed to eat'}
      ]
    }
  });
</script>
</body>
</html>